<div class="menu-top clear-both text-center">
  <h1>NOT FOUND PAGE</h1>
</div>
<div class="container">
  <div class="animated fadeInRight">
    <div class="inspiration text-center">
      We’re sorry, we seem to have lost this page,
      but we don’t want to lose you.
    </div>
  </div>
</div>
