<div class="pull-right hidden-xs">
  <b>Demo</b>
  {{fa-icon "camera"}}
  {{!mail-share data-url='http://www.programwitherik.com'
               data-text='Demo!'
               data-size='large'
               data-hashtags='emberjs'}}
</div>

<strong>Copyright</strong> &copy; 2016 <a href="#" style="color: #000;">LugaTeX Studio</a>
