<header>
  <h2>
    {{dog.name}}
    {{!item}}
  </h2>
</header>
{{#if enteredViewport}}
  <section>
    <blockquote class="dog-card-description">
      WASHINGTON — Civil rights groups, Democrats and some Republican Party
      strategists on Monday denounced President-elect Donald J. Trump’s
      decision to appoint Stephen K. Bannon to a top White House position,
      warning that Mr. Bannon represents nationalist and racist views that
      should be rejected by the incoming president.
      Congressional Republicans remained largely silent about the decision,
      choosing to instead praise Mr. Trump’s announcement that Reince Priebus,
      the chairman of the Republican National Committee, will become the new
      White House chief of staff. In an interview on Public Radio International,
      Representative Kevin McCarthy of California, the Republican majority
      leader in the House, said he would “not prejudge” Mr. Trump’s choice.
    </blockquote>
  </section>
{{/if}}
