<ul class="toolbar">
  <li class="btn btn-sm btn-info btn-flat pull-left red">Red</li>
  <li class="btn btn-sm btn-info btn-flat pull-left yellow">Yellow</li>
  <li class="btn btn-sm btn-info btn-flat pull-left blue">Blue</li>
</ul>
