<section class="content">
  <h4 class="page-header">
    <small>Widget Boxes - Small boxes are used for view.</small>
    <small>Color Palette - Primary, Info, Success, Warning, Danger, Gray, Navy, Teal, Purple, Orange, Maroon, Black</small>
  </h4>
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>12345</h3>
          <p>Tweet Values</p>
        </div>
        <div class="icon">
          <i class="fa fa-globe"></i>
        </div>
        <a href="#" class="small-box-footer" target="_blank">
          Real tweets from Streaming api
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3>12345</h3>
          <p>Tweet Values</p>
        </div>
        <div class="icon">
          <i class="fa fa-flag"></i>
        </div>
        <a href="#" class="small-box-footer" target="_blank">
          Real tweets from Streaming api
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-primary">
        <div class="inner">
          <h3>12345</h3>
          <p>Tweet Values</p>
        </div>
        <div class="icon">
          <i class="fa fa-flag"></i>
        </div>
        <a href="#" class="small-box-footer" target="_blank">
          Real tweets from Streaming api
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            150
          </h3>
          <p>
            New Orders
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-globe"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            53<sup style="font-size: 20px">%</sup>
          </h3>
          <p>
            Bounce Rate
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-bars"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>
            44
          </h3>
          <p>
            User Registrations
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>
            65
          </h3>
          <p>
            Unique Visitors
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-area-chart"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>
            230
          </h3>
          <p>
            Sales
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3>
            80<sup style="font-size: 20px">%</sup>
          </h3>
          <p>
            Conversion Rate
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-briefcase"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-teal">
        <div class="inner">
          <h3>
            14
          </h3>
          <p>
            Notofications
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-bell"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-maroon">
        <div class="inner">
          <h3>
            160
          </h3>
          <p>
            Products
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-cart-plus"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid  bg-navy">
        <div class="box-header">
          <h3 class="box-title">Navy Title</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-blue">
        <div class="box-header">
          <h3 class="box-title">Primary Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>.box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-aqua">
        <div class="box-header">
          <h3 class="box-title">Info Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-red">
        <div class="box-header">
          <h3 class="box-title">Danger Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-green">
        <div class="box-header">
          <h3 class="box-title">Success Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-yellow">
        <div class="box-header">
          <h3 class="box-title">Warning Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-purple">
        <div class="box-header">
          <h3 class="box-title">Purple Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-blue">
        <div class="box-header">
          <h3 class="box-title">Blue Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-solid  bg-maroon">
        <div class="box-header">
          <h3 class="box-title">Marron Tile</h3>
          <div class="box-tools pull-right"></div>
          <div class="box-body">
            Box class:
            <code>box.box-warning</code>
            <p>
              amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
              berliner weisse wort chiller adjunct hydrometer alcohol aau!
              sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
